---
name: build
"on": [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python:
          - v: "3.7"
            tox_env: "py37"
          - v: "3.7"
            tox_env: "py37"
            pre_releases: "--pre"
          - v: "3.8"
            tox_env: "py38"
          - v: "3.9"
            tox_env: "py39"
          - v: "3.10"
            tox_env: "py310"
          - v: "3.11"
            tox_env: "py311"
          - v: "3.12"
            tox_env: "py312"
          - v: "3.13"
            tox_env: "py313"
          - v: "3.14"
            tox_env: "py314"
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Set Git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python.v }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools tox
      - name: Test
        run: |
          tox -e ${{ matrix.python.tox_env }} ${{ matrix.python.pre_releases }}
