---
name: build
"on": [push, pull_request]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python:
          - v: "3.6"
            tox_env: "py36"
          - v: "3.7"
            tox_env: "py37"
          - v: "3.7"
            tox_env: "py37"
            pre_releases: "--pre"
          - v: "3.8"
            tox_env: "py38"
          - v: "3.8"
            tox_env: "linting"
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python.v }}
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools tox
      - name: Test
        run: |
          tox -e ${{ matrix.python.tox_env }} ${{ matrix.python.pre_releases }}
